body{
	margin: 0;
	padding: 0;
	width: 100%;
}
h1 {
	font-family:"Arvo";
	font-weight:normal;
	font-size: 10vh;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h2 {
	font-family:"Arvo";
	font-weight: normal;
	font-size: 5vh;
	text-align: center;
	color: black;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 3vh;
	text-align: center;
}

p {
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 10vh;
}

.content{ 
	width: 100vw;
}

/*#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }*/

#slide1, #slide2{ width: 100%; }

#slide1{
	background:url('../img/robot.png') 50% 0 no-repeat fixed;
	color: #fff;
	height: 100vh;
	margin: 0;
	background-size: cover;
	position: relative;
}

#intro {
	padding-top: 40vh;
	width: 50%;
  	margin: 0 auto;
}

#scroll_prompt{
	position: absolute;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	top: 90vh;
	
	width:40px;
	height:40px;
}

/*-----------------------*/

#slide2{
	background-color: #eee;
	color: #333333;
	max-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 15vh 0 7.5vh
}

.title {
	text-align: center;
	color: black;
}

.title_container {
	/*display: inline-block;*/
	padding-bottom: 5vh;
	/*vertical-align: center;*/
}

.about {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	text-align: left;
	margin: 0 0;

}

.about_container {
	padding-left: 15vw;
	padding-right: 15vw;
}

/*-----------------------*/

#slide3{
	background-color: white;
	color: #333333;
	margin: 0 auto;
	overflow: hidden;
	padding: 15vh 0 7.5vh;
	/*padding: 0 10vw 0 10vw; */
}

.project_container{
/*	padding-left: 15vw;
	padding-right: 15vw;*/
	text-align: center;
	margin:0 auto;
	width: 75vw;
}

.project{
	height: 25vw;
	display: block;
	margin-bottom: 5vh;

/*top right bottom left*/
}

.project_title{
	font-size: 5vh;
	font-family:"Arvo";
	text-align: left;
	margin: 0 0;

}


.description{
	float: right;
	width: 30vw;
	height: 25vw;
	padding-left: 3vw;
	text-align: left;
}

.playBtn {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top:8vw;
	left:14vw;
}

.picture_video{
	position: relative;
	width: 38vw;
	height: 25vw;
	top:0;
	left:0;
	border-radius: 25px;
	float:left;
	/*opacity: 0.5;*/
}

/*.picture_video:hover{
	opacity: 1;
}*/

.picture{
	position: relative;
	width: 38vw;
	height: 25vw;
	top:0;
	left:0;
	border-radius: 25px;
	float:left;
}

.text{
	font-size: 2.5vh;
}

.event{
	font-size: 2.7vh;
}

@media only screen and (min-width: 1301px) and (max-width: 1700px) {
	.project_container{
		padding-left: 2vw;
		padding-right: 2vw;
		text-align: center;
		margin:0 auto;
		width: auto;
	}

	.description{
		float: right;
		width: 50vw;
		height: 25vw;
		padding-left: 3vw;
		text-align: left;
	}


}

@media only screen and (max-width: 1300px) {
    /* For mobile phones: */


    .project_container {
    	display: block;
    	float: none;
    }

    .project {
    	display: flex;
    	flex-direction: column;
    	height: auto;
    	margin-bottom: 1vh;
    }

    .image_video_container {
    	flex: 1;
    	width:80vw;
    	height: auto;
    }

    .picture_video {
    	position: relative;
    	max-width: 100%;
    	max-height: 100%;
    	width: auto;
    	height: auto;
    }

    .picture {
        position: relative;
    	max-width: 100%;
    	max-height: 100%;
    	width: auto;
    	height: auto;
    }



    .description {
    	flex: 1;
    	width: 80vw;
    	height: auto;
    	display: block;
    	float: none;
    	margin-bottom: 2vh;
    }

    .playBtn {
	    position: absolute;
		width: 17vw;
		height: 17vw;
		top:22vw;
		left:32vw;
    }

}

/*-----------------------*/

#slide4{
	background-color: #eee;
	color: #333333;
	max-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 5vh 0 7.5vh
}

#buttons {
  display: table;
  width: 45%;
  margin: 3vh auto;
}

#buttons a {
  display: table-cell;
  text-align: center;
  margin: 0 3vw;
  width: 10%;
}

#buttons i {
  width: 100%;
  max-width: 150px;
  filter: grayscale(100%);
}

#razyrice {
	text-align: center;
	margin-top: 4vh;
}